<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="all">
        <ion-icon name="menu"></ion-icon>
        <ion-label><b>ALL</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="global">
        <img src="../../assets/globe.png" class="ion-global-icon">
        <ion-label><b>GLOBAL</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="usa">
        <img src="../../assets/USA_Flag.png" class="ion-icon">
        <ion-label><b>USA</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="japan">
        <img src="../../assets/Flag_of_Japan.png" class="ion-icon">
        <ion-label><b>JAPAN</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="europe">
        <img src="../../assets/europe.png" class="ion-icon">
        <ion-label><b>EUROPE</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="uk">
        <img src="../../assets/uk.png" class="ion-icon">
        <ion-label><b>UK</b></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>