.logo{
    margin-left: auto;
    margin-right: auto;
}

.ion-icon{
    height: 50%;
    width: 20%;
    padding-bottom: 1%;
}

.ion-japan-icon{
    height: 70%;
    width: 35%;
    padding-bottom: 1%
}

.ion-global-icon{
    height: 60%;
    width: 15%;
    padding-bottom: 1%
}