<ion-header>
  <ion-toolbar>
      <ion-buttons slot='start'>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button expand="block" (click)="performance_click()">
    Performance
  </ion-button>
  <ion-button expand="block" (click)="currentscores_click()">
    CurrentScores
  </ion-button>
    <div >
      <svg version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <!-- Using g to inherit presentation attributes -->
        <g>
          <circle class="star-ring" cx="50" cy="50" r="25" />
        </g>
      </svg>
    </div>
    <h5 class="ion-text-center">Election Result of India 2019</h5>
</ion-content>