ion-content.background{
    --ion-background-color: #2b468f;
}

.p{
    // font-weight: bold;
    color: white;
    font-size: 19px;
}

.label{
    color: gray;
}

.input{
    color:black;
}

.div1{
    background-color: #2b468f;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div2{
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.inner-div{
    width: 100%;
}

.button_login{
    // margin-top: 10px;
    --background: #2b468f;
    --background-activated: #20346b;
}

.button_forgot{
    --color: #2b468f;
}

.or_div{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 90%;
}

.or_div>span {
    display: inline-block;
    position: relative;
}

.or_span{
    color: #4b4f56;
}

.or_div>span:before {
    margin-right: 15px;
    right: 100%;
}

.or_div>span:after {
    left: 100%;
    margin-left: 15px;
}

.or_div>span:before, .or_div>span:after {
    background: #ccd0d5;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
}

.forgot_div{
    text-align: center;
}

.new_acc_div{
    padding-top: 10%;
}

.create_acc_btn{
    --background: #2e9937;
    --background-activated: #1e683a;
}





