<ion-content>
    
  <div class="div1">
    <ion-img src="assets/logo.png"></ion-img>
    <!-- <p class="p">SIGN-IN</p> -->
  </div>
  <div class="div2">
    <div class="inner-div">
      <ion-item>
        <ion-input class="input" placeholder="Username" [(ngModel)]="uname" class="ion-text-left"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-top">
        <ion-input [type]="passwordType" class="input" [(ngModel)]="pass" placeholder="Password" shown='true'></ion-input>
        <ion-icon [name]="passwordName" color="#bbb" item-end (click)="togglePassword()"></ion-icon>
      </ion-item>
      <div class="ion-padding-top">
          <ion-button expand="block" class="button_login" (click) = "login()">Log In</ion-button>
      </div>
      <div class="forgot_div">
          <ion-button fill="clear" class="button_forgot">Forgot Password?</ion-button>
      </div>
      <div class="or_div">
        <span class="or_span">
          or
        </span>
      </div>
      <div class="new_acc_div">
        <ion-button expand="block" class="create_acc_btn" >Create New Account</ion-button>
      </div>
    </div>
  </div>
</ion-content>