.module-border-wrap {
    max-width: 250px;
    padding: 2rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
  }
  
  .module {
    background: #ffffff;
    color: black;
    padding: 2rem;
  }