<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="onClick()">
  Got test
</ion-button>
<ion-button (click)="onClickSelf()">
  Got test self
</ion-button>
<ion-button (click)="onClickBlank()">
  Got test blank
</ion-button>
<div class="module-border-wrap"><div class="module">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero pariatur corporis quaerat voluptatum eos tempora temporibus nisi voluptates sed, exercitationem sequi dolore culpa incidunt accusamus, quasi unde reprehenderit ea molestias.
  </div></div>
</ion-content>
