.background{
    background-color: #2b468f;
    // height: 100%;
    width: 100%;
    min-height: 100%;
}

.back{
    background-color: #2b468f;
}

.h1-formate{
    font-weight: bold;
    font-size: 30px;
    color: ghostwhite;
}

.p-formate{
    color: #2b468f;
}
.div-formate{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-item {
     --highlight-color-focused: red;
    --border-color:rgb(0, 0, 0);
}

.div1{
    background-color: #2b468f;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 7%;
    min-width: 500px;
    max-width: 1000px
}

.regBtn{
  text-align: center;
  margin-top: 10%;
}

.btn{
    width: 50%;
}

.footerdiv{
    bottom: 0;
    text-align: center;
}

.footerstyle{
    font-size: 11px;
    color: #cdcdcd;
    line-height: 18px;
    display: inline-block;
}