<ion-content class="ion-padding" class="background">
    <img src="assets/logo.png" class="logo">
    <div class="div-align">
    <ion-button expand="block" fill="outline" color="light" class="login-margin" (click)="auth_nav()">Already a customer? Singin</ion-button>
    <ion-button expand="block" fill="outline" color="light" class="signup-margin" (click)="enroll_nav()">New to NAA?Create an account</ion-button>
    <ion-button expand="block" fill="outline" color="light" class="signup-margin" (click)="openUrl()">Skip</ion-button>
    </div>
</ion-content>